.app-label {
    text-align: center;
    margin: 10px 0 40px 0;
}

.container {
    background: white;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 60vw;
    padding: 12px 30px;
    border-radius: 8px;
}

h1{
    font-size: 2rem;
}

input{
    margin: 6px 0;
}

button{
    width: 8em;
}