* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./img/app-bg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.App {
    height: 100vh;
    display: grid;
    align-items: center;
}
